<!--
  Generated template for the GoddessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
      
<ion-buttons start>
       <button ion-button icon-only menuToggle>
                   <ion-icon name="menu"></ion-icon>
                 </button>
   </ion-buttons>
    <ion-title>
    My Goddess Time!
  
    </ion-title>
  </ion-navbar>
</ion-header>

  <ion-content > 

    
    <ion-list>
        <ion-item>
          <ion-label>
            reading a book at my favorite coffee shop</ion-label>
          <ion-checkbox color="dark" checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>going to the spa with my favorite book or with a girlfriend</ion-label>
          <ion-checkbox color="danger" checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>taking a hot bath with candles and bath salts & wine</ion-label>
          <ion-checkbox></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>taking a hot bath with candles and bath salts & wine</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
         <ion-item>
              <ion-label>buying a beautiful journal & journaling in the park</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
           <ion-item>
                <ion-label>curling up in bed well before I go to sleep, reading, drinking tea</ion-label>
                <ion-checkbox></ion-checkbox>
              </ion-item>
             <ion-item>
                  <ion-label>taking an art, dancing or music class alone or with a girlfriend</ion-label>
                  <ion-checkbox></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>creating & honoring my morning routine</ion-label>
                    <ion-checkbox></ion-checkbox>
                  </ion-item>
                  <ion-item>
                      <ion-label>going for a walk around the neighborhood</ion-label>
                      <ion-checkbox></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>sitting on a park bench and people watching</ion-label>
                        <ion-checkbox></ion-checkbox>
                      </ion-item>
                     <ion-item>
                          <ion-label>listening to spiritual audios or videos that inspire me</ion-label>
                          <ion-checkbox></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label>create my vision board & look at it daily, visualizing & feeling</ion-label>
                            <ion-checkbox></ion-checkbox>
                          </ion-item>
                         <ion-item>
                              <ion-label>do an online guided meditation</ion-label>
                              <ion-checkbox></ion-checkbox>
                            </ion-item>
                            <ion-item>
                                <ion-label>participate in a global online meditation</ion-label>
                                <ion-checkbox></ion-checkbox>
                              </ion-item>
                              <ion-item>
                                  <ion-label>write a card to someone and mail it</ion-label>
                                  <ion-checkbox></ion-checkbox>
                                </ion-item>
                                <ion-item>
                                    <ion-label>set an intention while I relax & color sacred geometry</ion-label>
                                    <ion-checkbox></ion-checkbox>
                                  </ion-item>
                                  <ion-item>
                                      <ion-label>offer to pay for a strangers coffee</ion-label>
                                      <ion-checkbox></ion-checkbox>
                                    </ion-item>
                                                                                                                                                                     
                                  
          
        </ion-list>
    </ion-content>