<ion-header>
    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button icon-only (click)="cancel()" swipe-back-enabled="true">
        <ion-icon name="close"></ion-icon>
      </button>
        </ion-buttons>

        <ion-buttons start>
            <button ion-button icon-only menuToggle>
                          <ion-icon name="menu"></ion-icon>
                        </button>
        </ion-buttons>
        <ion-title>Commitments</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Start</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>End</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>All Day?</ion-label>
            <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
        </ion-item>
    </ion-list>

    <button ion-button full icon-left (click)="save()">
    <ion-icon name="checkmark"></ion-icon> Add comintment
  </button>
</ion-content>