<ion-header>
    <ion-navbar color="primary">

        <ion-buttons start>
            <button ion-button icon-only menuToggle>
                     <ion-icon name="menu"></ion-icon>
                   </button>
        </ion-buttons>
        <ion-title>
            Todos!
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
        </ion-buttons>

    </ion-navbar>
</ion-header>


<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let item of items" reorder="true" (ionItemReorder)="reorderItems($event)">

            <ion-item>
                <h1>{{item.title}}</h1><br>
                <span style="color:pink;">{{item.date}}<br>{{item.time}}</span>
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="removeItem(item)"><ion-icon name="trash"></ion-icon>Delete</button>
                <button ion-button color="light" (click)="moveTodos(item)">
                    <ion-icon name="move"></ion-icon>
                      Move to<br>today's<br>Todos
                    </button>
            </ion-item-options>

        </ion-item-sliding>
    </ion-list>
</ion-content>