<ion-header>
    <ion-navbar color="primary">

        <ion-buttons start>
            <button ion-button icon-only menuToggle>
                   <ion-icon name="menu"></ion-icon>
                 </button>
        </ion-buttons>
        <ion-title>
            Daily Tracker
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-tabs>
        <ion-tab [root]="PrioritiesTPage" tabTitle="Priorities"></ion-tab>
        <ion-tab [root]="ApmntTPage" tabTitle="Appointment"></ion-tab>
        <ion-tab [root]="GrateTPage" tabTitle="Gratitude"></ion-tab>
        <ion-tab [root]="TodoTPage" tabTitle="To-Dos"></ion-tab>
    </ion-tabs>
</ion-content>