<ion-header>
    <ion-navbar color="primary">

        <ion-title>
            <ion-input type="text" [(ngModel)]="title"></ion-input>
        </ion-title>


    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <!--<ion-card-content>
      {{description}}
    </ion-card-content>
    <ion-input type="text" [(ngModel)]="description"></ion-input>-->
    </ion-card>

</ion-content>