<!-- helloo guys lets do it -->

<ion-header>
    <ion-navbar color="primary">

        <ion-buttons start>
            <button ion-button icon-only menuToggle>
                          <ion-icon name="menu"></ion-icon>
                        </button>
        </ion-buttons>

        <ion-title>
            {{ viewTitle }}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addEvent()">
        <ion-icon name="add"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate" (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30" class="calender"></calendar>
</ion-content>