// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@font-face {
    font-family: Montez-Regular;
    src: url('../assets/fonts/Montez-Regular.ttf');
}

* {
    font-family: Montez-Regular;
}

.activeHighlight {
    background-color: map-get($colors, lightpink)
}


/*..bg {
    background: radial-gradient(to bottom, lightpink 50%, #fff 100%)
}


.scroll-content {
    background: url('../assets/background/backg.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
} */

.modal-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#pro {
    font-family: aubrey;
}

#god {
    color: gold !important;
}

#logo {
    height: 100%;
    width: 100%;
}