<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>
                <!--  <span id="pro">Productivity</span>
                <Br>
                <span id="god"> Goddess </span>-->
                <img src="../assets/images/Productivity.png" id="logo">
            </ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content padding>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" [class.activeHighlight]="checkActive(p)" (click)="openPage(p)">  
                {{p.title}}
                
            </button>

        </ion-list>

    </ion-content>
</ion-menu>


<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>