<ion-content>
    <ion-item>
        <ion-input [(ngModel)]="grate" placeholder="Add today's gratitude here" type="text"></ion-input>
    </ion-item>

    <button ion-button full (click)="add()">ADD</button>

    <ion-list>
        <ion-item-sliding *ngFor="let t of grates">
            <ion-item>
                {{t}}
            </ion-item>

            <ion-item-options side="right">
                <button ion-button color="danger" (click)="delete(t)">
                    <ion-icon name="trash"></ion-icon> Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>