<!--
  Generated template for the NoteDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">

        <ion-title>
            <ion-input type="text" [(ngModel)]="title"></ion-input>
        </ion-title>


    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-textarea rows="10" [(ngModel)]="description"></ion-textarea>
        <!--  <ion-input type="text" [(ngModel)]="description"></ion-input> -->
    </ion-card>


</ion-content>