<ion-header>
    <ion-navbar color="primary">

        <ion-buttons start>
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
        </ion-buttons>

        <ion-title>
            Notes!
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addNote()"><ion-icon name="add-circle"></ion-icon></button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <!--- <ion-list>
      
    <ion-item *ngFor="let note of notes" (click)="viewNote(note)">{{note.title}}</ion-item>
  </ion-list>-->


    <ion-card *ngFor="let note of notes" (click)="viewNote(note)">

        <ion-item>
            <h1>
                <ion-avatar item-start>

                    {{note.title}}

                </ion-avatar>
            </h1>
            <button ion-button color="light" (click)="removeNote(note)"><ion-icon name="trash" style="float: right;"></ion-icon> &nbsp; Delete</button>
        </ion-item>
    </ion-card>
</ion-content>