<!--
  Generated template for the AddItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Add To-do
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="close()"><ion-icon name="close"></ion-icon></button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-input type="text" [(ngModel)]="title" placeholder="Add todo's here"></ion-input> <br>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Date</ion-label>
            <ion-input type="date" placeholder="Enter Date" required="required" [(ngModel)]="date"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked color="primary">Time</ion-label>
            <ion-input type="time" placeholder="Enter Time" required="required" [(ngModel)]="time"></ion-input>
        </ion-item>
        <button full ion-button color="primary" (click)="saveItem()">Save</button>
    </ion-list>

</ion-content>